# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.yarn

# configs
dist
db-local.json
db.json
.env.production
cert.pem
key.pem

# misc
.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*
