@use "sass:math";

$small-elements: 5;

.loading {
  flex: 1;
  max-width: 90%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  h1 {
    animation: fade 2s infinite;
  }

  section {
    position: relative;
    height: 1.5em;
  }

  small {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: -100%;
    opacity: 0;
    animation: slide-down #{$small-elements}s infinite;
  }

  @for $i from 0 to $small-elements {
    small:nth-child(#{$i + 1}) {
      animation-delay: #{$i}s;
    }
  }
}

@keyframes fade {
  0%,
  100% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    top: -100%;
  }

  #{math.div(100%, $small-elements) - 1%} {
    opacity: 1;
  }

  #{math.div(100%, $small-elements)} {
    opacity: 0;
    top: 0;
  }
}
