.permissions {
  h4 {
    margin-bottom: 0;

    + small {
      line-height: normal;
    }
  }

  section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: end;
    align-items: baseline;
    margin-top: 1.5rem;
    margin-bottom: 3rem;

    label {
      font-weight: lighter;

      &:first-child {
        grid-column: 1 / span 2;
      }

      &:nth-child(-n + 4) {
        font-size: 1.4rem;
        font-weight: lighter;
        margin-bottom: 0;
      }

      &:not(:nth-child(-n + 4)) {
        justify-self: start;
      }
    }

    h5 {
      grid-column: 1 / span 5;
      margin-top: 1rem;
      margin-bottom: 1rem;
      padding-top: 1rem;
      border-top: 1px solid;
      width: 100%;
      text-transform: uppercase;
    }
  }
}
