@import "@csstools/normalize.css";
@import "milligram";

@import "@fortawesome/fontawesome-free/css/all.css";

@import "nprogress/nprogress";

@import "react-toastify/dist/ReactToastify.css";

@import "react-phone-input-2/lib/style.css";

body {
  margin: 0;
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

button,
input {
  &[readonly],
  &[disabled] {
    pointer-events: none;
  }
}

dialog {
  border: none;
  color: #606c76; // var(--$color-secondary)
  width: min(90vw, 400px);

  &::backdrop {
    background-color: white;
  }
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

main {
  display: flex;
  flex: 1;
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  &.button-small {
    font-size: 0.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
  }

  &.button-large {
    font-size: 1.4rem;
    height: 4.5rem;
    line-height: 4.5rem;
    padding: 0 2rem;
  }
}

.data-grid {
  flex: 1;

  .ag-cell-editable,
  .ag-cell-inline-editing * {
    cursor: pointer;
  }

  .full-width-cell-renderer {
    width: 100%;
    height: 100%;
    text-align: center;
  }
}

.Toastify__toast-body {
  white-space: pre-line;
}

.react-tel-input {
  margin-bottom: 1.5rem;

  .form-control {
    width: 100%;
  }
}
