@import "nprogress/nprogress.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

main {
  display: flex;
  flex: 1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input[type="radio"][readonly],
input[type="radio"][disabled],
input[type="checkbox"][readonly],
input[type="checkbox"][disabled] {
  pointer-events: none;
}

.Toastify__toast-body {
  white-space: pre-line;
}

.data-grid {
  flex: 1;
}

button,
input[type="radio"],
input[type="checkbox"],
.data-grid .ag-cell-editable,
.data-grid .ag-cell-inline-editing * {
  cursor: pointer;
}

.data-grid .full-width-cell-renderer {
  width: 100%;
  height: 100%;
  text-align: center;
}
