@import "@csstools/normalize.css";
@import "milligram";

@import "@fortawesome/fontawesome-free/css/all.css";

@import "nprogress/nprogress";

@import "react-toastify/dist/ReactToastify.css";

@import "react-phone-input-2/lib/style.css";

@import "@ag-grid-community/styles/ag-grid.css";
@import "@ag-grid-community/styles/ag-theme-quartz.css";

//#region milligram
form {
  &:last-child {
    margin-bottom: 0;
  }
}
//#endregion

//#region ag-grid
.data-grid {
  flex: 1;

  .ag-root-wrapper {
    border-radius: 0;
  }

  .ag-cell-editable,
  .ag-cell-inline-editing * {
    cursor: pointer;
  }
}
//#endregion

//#region react-toastify
.Toastify {
  line-height: 1.6;
  font-size: 1.6rem;
}

.Toastify__toast-body {
  white-space: pre-line;
}
//#endregion

//#region react-phone-input-2
.react-tel-input {
  margin-bottom: 1.5rem;

  .form-control {
    width: 100%;
  }
}
//#endregion

body {
  margin: 0;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

main {
  display: flex;
  flex: 1;
}

dialog {
  border: none;
  color: #606c76; // var(--$color-secondary)
  min-width: min(90vw, 400px);

  &::backdrop {
    background-color: white;
  }
}

input[type="radio"],
input[type="checkbox"] {
  cursor: pointer;
}

button,
input {
  &[readonly],
  &[disabled] {
    pointer-events: none;
  }
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  &.isLoading {
    position: relative;
    overflow: hidden;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      height: 4px;
      animation: slide-left-to-right 1000ms ease-in-out infinite;
      opacity: 0.6;
      background-color: white;
    }
  }

  &.button-small {
    font-size: 0.8rem;
    height: 2.8rem;
    line-height: 2.8rem;
    padding: 0 1.5rem;
  }

  &.button-large {
    font-size: 1.4rem;
    height: 4.5rem;
    line-height: 4.5rem;
    padding: 0 2rem;
  }
}

@keyframes slide-left-to-right {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(100%);
  }
}
