.dialog[open] {
  display: flex;
  min-height: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
}

.formActions {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: 16px;
}

.form label {
  display: flex;
  flex-direction: column;
}

.form input,
.form select,
.formActions button {
  padding: 8px;
}
