.dialog[open] {
  display: flex;
  min-height: 300px;
}

.form {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.formActions {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  gap: 10px;
}
