.form {
  display: flex;
  flex-direction: column;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    display: flex;
    align-items: baseline;
  }

  fieldset {
    position: relative;

    small {
      position: absolute;
      top: 4px;
      right: 0;
      color: red;
      font-weight: bold;
    }

    button[type="submit"] {
      width: 100%;

      + small {
        top: -2rem;
      }
    }
  }
}
